<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Parsons Code Lab</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

  <link rel="stylesheet" href="/css/base/main.css">
  <link rel="stylesheet" href="/css/legacy/legacy-pages.css">

</head>

<body class="body">

	{% include 'common/nav-student.html' %}

  <div class="container text-center mt-5">
    <h1 class="display-4 font-weight-bold">Welcome to Parsons Code Lab!</h1>
    <h2 class="h5 text-muted welcome_text_student">Login to join the exercise packet</h2>
  </div>

  <script src="/js/student/student-index.js" type="module"></script>

{% include 'common/footer.html' %}
</body>
</html>
