{% extends 'base.html' %}

{% block title %}Parsons Code Lab{% endblock %}

{% block navigation %}
  {% include 'common/nav-student.html' %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/css/legacy/legacy-pages.css">
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4 font-weight-bold">Welcome to Parsons Code Lab!</h1>
    <h2 class="h5 text-muted welcome_text_student">Login to join the exercise packet</h2>
  </div>
{% endblock %}

{% block scripts %}
<script src="/js/student/student-index.js" type="module"></script>
{% endblock %}
