# Kaikki muut tiedostot vaativat reviewn näiltä käyttäjiltä
* @serze10 @jjuliacaroline @Victheliar @BorisVer @vilimah @sinikala

# @tihvis @Feycry

# README.md ei vaadi reviewtä → PR ei pakollinen
README.md
