[MASTER]
init-hook='import sys; sys.path.append(".")'
ignore=venv

[MESSAGES CONTROL]
disable=C0114,
		C0115,
		C0116,
        C0121,
		import-error,
		R0903,
		R0912,
		C0103,
		W1309,
		W0718,
		E0611,
		raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        use-implicit-booleaness-not-comparison-to-string,
        use-implicit-booleaness-not-comparison-to-zero,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        too-few-public-methods,
        too-many-instance-attributes,
        C0305,
        C0413,
        C0301,
        R0915,
        C0411,
        W0611,
        W0404,
        W0311,
        R0402,
        C0415,
        W0707,
        R0914,
        C0304,
        W0613,
        W0621

# Enable a few useful checkers from the provided config
enable=c-extension-no-member

[SIMILARITIES]
min-similarity-lines=15
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes

[FORMAT]
max-line-length=120
max-statements=50
max-locals=30
max-returns=10
max-args=10

[REPORTS]
output-format=colorized
score=no

[DESIGN]
max-nested-blocks=6
