<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Instructions - Parsons Code Lab</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="/js-parsons/parsons.css"/>
	<link rel="stylesheet" href="/css/base/main.css"/>
</head>
<body>
	<div class="instructions">
		<p>
			After registering and logging in successfully, the user will be able to see all available task sets on their teacherdashboard.
			Here, the user is able to create a new task set, view the task sets they created or the ones shared with them by other teachers.
			The user is also able to browse the task database and custom tasks here, as well as create a completely new task to add to a task set.
		</p>
	</div>
	<div class="instructions">
		<p>
			The user can view statistics regarding each individual student in the task set as well as each task in the set by clicking on the 
			desired task or student on the task set page. The user is also able to view the task database by clicking on the "Task Database" button on the navbar. 
		</p>
	</div>
{% include 'common/footer.html' %}
</body>
