{% extends 'base.html' %}

{% block title %}Contact - Parsons Code Lab{% endblock %}

{% block styles %}
<style>body{font-family:system-ui,-apple-system,Segoe UI,Roboto,"Helvetica Neue",Arial;margin:2rem;line-height:1.6} footer{font-size:0.9rem;color:#444;margin-top:2rem}</style>
{% endblock %}

{% block content %}
<a href="javascript:history.back()">Back</a>
  <h1>Contact</h1>
  <p>In case you encounter any issues or have questions, please feel free to reach out to us using the email address below.</p>
  <p>If you have forgotten your password, be sure to send the reset request from the <strong>same email address</strong> you used to create your account.</p>
  <p><i>m8roqga2a@mozmail.com</i></p>
{% endblock %}
