<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Exercise Analytics - Faded Parsons Problems</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

  <link rel="stylesheet" href="/js/main.css">

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="navbar-brand">🧩 Faded Parsons Problems</div>

    <div class="ml-auto d-flex align-items-center">
      <a href="exerciselist.html"
         class="btn btn-outline-light btn-sm mr-3">
        Back to exercise list
      </a>
    </div>
  </nav>
  <main class="container main-nickname">
    <div class="p-4">
		<h2 class="section-title mb-3">
			DESCRIPTION
		</h2>
		<div class="text-center">
			<button class="btn btn-primary btn-lg">Start</button>
		</div>
	</div>
  </main>
</body>