name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [master, main]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Run tests with Docker Compose
        run: docker compose --profile test up --build --abort-on-container-exit --exit-code-from test
      
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
