name: CI

on:
  push:
  pull_request:

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Clean up Docker resources
        run: docker compose down -v
        continue-on-error: true
      
      - name: Run tests with Docker Compose
        run: docker compose --profile test up --build --abort-on-container-exit --exit-code-from test
      
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
