name: Test Quay Login

on:
  push:
    branches:
      - quay-test
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Login to Quay # Try to login with the token an username in github actions secretss || using --password-stdin so that the password is not reaveled in the console
        run: |
          echo "${{ secrets.QUAY_TOKEN }}" | docker login quay.io -u "${{ secrets.QUAY_USERNAME }}" --password-stdin

      - name: Build docker image # Build and name the image
        run: docker build -t quay.io/tike/ohtu-faded-parsons:latest .

      - name: Push to Quay # Push the docker built image to quay
        run: |
          docker push quay.io/tike/ohtu-faded-parsons:latest
